/*
 * {{ ansible_managed }}
 */

CREATE DATABASE IF NOT EXISTS `mon` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE `mon`;

/* Create database user for clustercheck script */
{% if groups['mariadb_group'] | count > 1 %}
GRANT PROCESS ON *.* TO '{{clustercheck_db_user}}'@'localhost' IDENTIFIED BY '{{clustercheck_db_password}}';
{% endif %}

